Given the following dataframe, write code using Python Pandas to list the size of the each animal with the highest weight. Format should be:
Animal | Size
____________
Cat | ?
Dog | ?
Fish | ?

In [2]:
import pandas as pd
df = pd.DataFrame({'animal': 'cat dog cat fish dog cat cat'.split(),
                  'size': ['M', 'M', 'M', 'S', 'L','M','M'],
                  'weight': [8, 10, 11, 1, 20, 12, 12],
                  'adult': ['False', 'True', 'False', 'False', 'True','True','True']})

In [3]:
df

  animal size  weight  adult
0    cat    M       8  False
1    dog    M      10   True
2    cat    M      11  False
3   fish    S       1  False
4    dog    L      20   True
5    cat    M      12   True
6    cat    M      12   True

In [4]:
# Here we can use Pandas groupby function and
# using the apply() callable in pandas we have access to all columns
df.groupby('animal').apply(lambda subf: subf['size'][subf['weight'].idxmax()])

animal
cat     M
dog     L
fish    S
dtype: object