In [11]:
#Importing packages.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

#reading csv into a dataframe and save to local
us_population = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/us_state_populations.csv')
us_population.to_csv("data/us_population.csv", index=False)
us_births_deaths = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/us_state_births.csv')
us_births_deaths.to_csv("data/us_births_deaths.csv", index=False)

In [12]:
#reading dataset from local
us_pop = pd.read_csv('data/us_population.csv')
us_births_dths = pd.read_csv('data/us_births_deaths.csv')

In [13]:
us_pop.head(5)

          State  Population
0    California    39865590
1         Texas    29206997
2       Florida    21299325
3      New York    19542209
4  Pennsylvania    12807060

In [14]:
us_births_dths.head(5)

        State  Births  Deaths
0     Alabama   58941   53238
1      Alaska   10445    4411
2     Arizona   81872   57758
3    Arkansas   37520   32588
4  California  471658  268189

1. Calculate the birth rate and death rate for each state. For the purposes of this question you can define the rate as the # of births/deaths divided by the total population.

In [15]:
#merge the two datasets
us_pop_bths_dths = us_births_dths.merge(us_population, how='left', on='State')

In [16]:
us_pop_bths_dths.head(5)

        State  Births  Deaths  Population
0     Alabama   58941   53238     4887871
1      Alaska   10445    4411      737438
2     Arizona   81872   57758     7171646
3    Arkansas   37520   32588     3013825
4  California  471658  268189    39865590

In [17]:
#Next, we can calculate the birth and death rates as requested in (1)
#
us_pop_bths_dths['Birth_rate'] = us_pop_bths_dths['Births']/us_pop_bths_dths['Population']
us_pop_bths_dths['Death_rate'] = us_pop_bths_dths['Deaths']/us_pop_bths_dths['Population']

In [18]:
#
us_pop_bths_dths.head()

        State  Births  Deaths  Population  Birth_rate  Death_rate
0     Alabama   58941   53238     4887871    0.012059    0.010892
1      Alaska   10445    4411      737438    0.014164    0.005982
2     Arizona   81872   57758     7171646    0.011416    0.008054
3    Arkansas   37520   32588     3013825    0.012449    0.010813
4  California  471658  268189    39865590    0.011831    0.006727

2. Create a new column appended to the first dataset with the net population change (births-deaths) by state.

3. Using the column from (2), project out the future population by state in 5 years, assuming the population change remains the same (on an absolute/n-count basis). You can assume each state's net transfer in/out rate from folks moving is 0 for this question's sake.For example, if CA's population is 30M and the birth-death rate is 150k, then the projected population in 5 years is just 30,000,000 + 150,0005 = 30.75M.*