In [5]:
#Importing packages.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

message_df = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/sample_message_dataset.csv')

In [6]:
message_df.to_csv('data/message.csv', index=False)

In [41]:
message_df = pd.read_csv('data/message.csv')

In [42]:
print(message_df.shape)
message_df.head(5)

(86, 4)

         date   timestamp  sender_id  receiver_id
0  2018-03-01  1519923378          1            5
1  2018-03-01  1519942810          1            4
2  2018-03-01  1519918950          1            5
3  2018-03-01  1519930114          1            2
4  2018-03-01  1519920410          1            2

In [47]:
#use sender_id and receiver_id to create primary key
message_df['key'] = np.where(message_df['sender_id'] >= message_df['receiver_id'],\
                            message_df['receiver_id'].astype(str)+message_df['sender_id'].astype(str),
                            message_df['sender_id']+message_df['receiver_id'].astype(str))

TypeError: can only concatenate str (not "int") to str

In [46]:
message_df.head(5)

         date   timestamp  sender_id  receiver_id  key
0  2018-03-01  1519923378          1            5    6
1  2018-03-01  1519942810          1            4    5
2  2018-03-01  1519918950          1            5    6
3  2018-03-01  1519930114          1            2    3
4  2018-03-01  1519920410          1            2    3