In [5]:
#Importing packages.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

message_df = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/sample_message_dataset.csv')

In [6]:
message_df.to_csv('data/message.csv', index=False)

In [7]:
message_df = pd.read_csv('data/message.csv')

In [29]:
print(message_df.shape)
message_df.head(5)

(86, 4)

         date   timestamp  sender_id  receiver_id
0  2018-03-01  1519923378          1            5
1  2018-03-01  1519942810          1            4
2  2018-03-01  1519918950          1            5
3  2018-03-01  1519930114          1            2
4  2018-03-01  1519920410          1            2

In [34]:
#use sender_id and receiver_id to create primary key
message_df['key'] = np.where(message_df['sender_id'] >= message_df['receiver_id'],\
                            message_df['receiver_id']+message_df['sender_id'],
                            message_df['receiver_id'])

In [35]:
np.where(message_df['sender_id'] >= message_df['receiver_id'],
         message_df['receiver_id']+message_df['sender_id'], 1001)

array([1001, 1001, 1001, 1001, 1001, 1001, 1001,    4, 1001,    4, 1001,
       1001, 1001,    5, 1001,    6,    5, 1001, 1001, 1001,    8, 1001,
       1001,   10, 1001,    8,    7,    7,   10,   12, 1001,    9,   10,
         13,   11,   13,    9,    9,   11,   11,   12,   11,   15,    6,
          5,    6,    3,    3,    5,    6,    4,    5,    4,    8,    9,
         10, 1001,    9,    6, 1001,   10,   11,    9,    8,   10,   11,
         10,   11, 1001, 1001, 1001, 1001,   12,   14, 1001, 1001, 1001,
       1001, 1001, 1001, 1001, 1001, 1001, 1001, 1001, 1001])