In [5]:
#Importing packages.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

message_df = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/sample_message_dataset.csv')

In [6]:
message_df.to_csv('data/message.csv', index=False)

In [41]:
message_df = pd.read_csv('data/message.csv')

In [42]:
print(message_df.shape)
message_df.head(5)

(86, 4)

         date   timestamp  sender_id  receiver_id
0  2018-03-01  1519923378          1            5
1  2018-03-01  1519942810          1            4
2  2018-03-01  1519918950          1            5
3  2018-03-01  1519930114          1            2
4  2018-03-01  1519920410          1            2

In [48]:
#use sender_id and receiver_id to create primary key
message_df['key'] = np.where(message_df['sender_id'] >= message_df['receiver_id'],\
                            message_df['receiver_id'].astype(str)+message_df['sender_id'].astype(str),
                            message_df['sender_id'].astype(str)+message_df['receiver_id'].astype(str))

In [49]:
message_df.head(5)

         date   timestamp  sender_id  receiver_id key
0  2018-03-01  1519923378          1            5  15
1  2018-03-01  1519942810          1            4  14
2  2018-03-01  1519918950          1            5  15
3  2018-03-01  1519930114          1            2  12
4  2018-03-01  1519920410          1            2  12

In [51]:
#sorting the dataframe base on primary key and then timestamp
message_df = message_df.sort_values(by=['key', 'timestamp'])

In [76]:
message_df.head(8)

,date,timestamp,sender_id,receiver_id,key,key_lag,tt_lag,sender_lag,is_respone
4,2018-03-01,1519920410,1,2,12,NaN,0,NaN,no
47,2018-03-01,1519920555,2,1,12,12,1519920410,1.0,yes
3,2018-03-01,1519930114,1,2,12,12,1519920555,2.0,yes
46,2018-03-01,1519930348,2,1,12,12,1519930114,1.0,yes
1,2018-03-01,1519942810,1,4,14,12,0,2.0,no
44,2018-03-01,1519943010,4,1,14,14,1519942810,1.0,yes
2,2018-03-01,1519918950,1,5,15,14,0,4.0,no
45,2018-03-01,1519920307,5,1,15,15,1519918950,1.0,yes

In [70]:
#lagging the key to use for which one should lag timestamp
message_df['key_lag'] = message_df['key'].shift(1)
#lagging the timstamp within the same key
message_df['tt_lag'] = np.where(message_df['key_lag']==message_df['key'],
                                message_df['timestamp'].shift(1),
                                0)
message_df['tt_lag'] = message_df['tt_lag'].astype(int)

In [75]:
#sender lag to compare if it is a respone
message_df['sender_lag'] = message_df['sender_id'].shift(1)
#label which one we receier id and sender lag
message_df['is_respone'] = np.where((message_df['receiver_id']==message_df['sender_lag']), 'yes', 'no')

In [ ]:
#